body {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    background-image: url('https://source.unsplash.com/1920x1080/?nature');
    font-size: 25px;
}
.searchbtn:hover{
    background: rgb(59, 58, 58);
}
.searchbtn {
    margin: 1em;
    height: 2.7em;
    width: 3em;
    border-radius: 75%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
}

input.search-bar{
    border:none;
    outline:none;
    padding: 0.8em;
    width: 55%;
    border-radius: 20px;
}

.card {
    display: flex;
    background: #000000d0 ;
    color:white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
text-transform: capitalize;
}

.flex {
    display:flex;
    align-items: center;
}

.btn:hover {
    background: rgb(59, 58, 58);
}

#btnAdd {
    margin-top: 25px;
    margin-right: 200px;
    height: 2.7em;
    width: 3em;
    border-radius: 75%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
}

#btnDel {
    margin-top: 25px;
    height: 2.7em;
    width: 3em;
    border-radius: 75%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.favbuttons{
    display: flex;
    justify-content: left;
}

.favplaces {
    margin-top: 3px;
    height: 2.7em;
    width: 7em;
    border-radius: 45%;
    border: none;
    outline: none;
    cursor: pointer;
}

.column1 {
    width: 75%;
}

.column2 {
    width: 25%;
}

.favorite{
    padding: 0.7em;
}

